.App {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.brand-c{
  color: #55e9a4;
}
.brand-bg{
  background: #123453;
}
.brand-btn{
  padding: 7px 20px;
  background: #123453;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-family: 'Rubik', sans-serif;
}
.f-rub{
  font-family: 'Rubik', sans-serif;
}
.f-ral{
  font-family: 'Raleway', sans-serif;
}